@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
}
.filmGrain:before {
    animation: grain 15s steps(15) infinite;
    background: url("grainImage.png");
    content: "";
    height: 300%;
    z-index:2000;
    left: -50%;
    opacity:.25;
    position: fixed;
    top: -110%;
    width: 300%;
    filter: brightness(200%);
    pointer-events:none;
}