/* Adding new fonts...*/
@font-face {
    font-family: 'FranklinGothicHeavyRegular';
    src: url('../fonts/fontFiles/FranklinGothicHeavyRegular.ttf');
}
@font-face {
    font-family: 'MontserratMedium';
    src: url('../fonts/fontFiles/MontserratMedum.ttf');
}
@font-face {
    font-family: 'ErasBoldITC';
    src: url('../fonts/fontFiles/ErasBoldITC.ttf');
}
@font-face {
    font-family: 'TTHovesRegular';
    src: url('fontFiles/TTHoves-Regular.ttf');
}
@font-face {
    font-family: 'Bahnschrift';
    src: url('fontFiles/BAHNSCHRIFT.TTF');
}
@font-face {
    font-family: MetropolisRegular;
    src: url("../fonts/fontFiles/MetropolisRegular.otf") format("opentype");
}